form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.example-container {
  background-color: #2A475E
}

form, div, p, mat-sidenav {
  background-color: #2A475E
}

div {
  /* display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem; */
  display: flex;
  flex-wrap: wrap;
  align-items:normal;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.example-card {
  max-width: 100%;
  background-color: #507081;
  color:white;
}

mat-card-content > p {
  background-color: #507081;
}
